.logo {
    height: 64px;
    width: 64px;
    background: blue;
}

.logoLink {
    color: none;
}

.logoLink:hover {
    color: blue;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    .logo {
        background: #333;
    }
}
